body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Inter, sans-serif";
  background-color: #fafafd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dndflow .dndnode.input {
  border-color: #0041d0;
}
 
.dndflow .dndnode.output {
  border-color: #ff0072;
}
 
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
 
.dndflow .selectall {
  margin-top: 10px;
}
 
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
 
  .dndflow aside {
    width: 20%;
    max-width: 250px;
  }
}
